apscheduler
Flask>=2.2.2
Flask-SQLAlchemy==3.0.3
Flask-Mail
Flask-Migrate==2.7.0
Flask-Moment
Flask-Script==0.6.6
Flask-WTF
Jinja2
Mako
MarkupSafe
SQLAlchemy
WTForms
Werkzeug
alembic
blinker
itsdangerous